body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.conteiner {
    width: 1112px;
    margin: 0 auto;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 15px 0;
}

.header__menu a {
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
}

.header__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    position: relative;
    background-image: url(./images/download-bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
    padding: 150px 0 65px;
}

.hero__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.hero__info {
    padding: 0 39px 60px;
    width: 50%;
}

.hero__mobile-icon {
    position: relative;
    padding: 0 30px 0 0;
}

.hero-icon {
    width: 100%;
    height: 60px;
    padding: 0 11px;
}

.hero-icon:first-child {
    padding-left: 0;
}

.hero__info-titulo {
    color: #fff;
    font-style: italic;
    font-size: 64px;
    margin: 0 0 16px;
    font-weight: 600;
    line-height: 1.2;
}

.hero__info-subtitulo {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
}

.hero__info-img {
    display: flex;
    margin-top: 32px;
}

.hero__info-footer {
    margin: 12px 0 0 0;
    color: #fff;
    font-style: italic;
    font-weight: 300;
}

.hero__parrafo {
    color: #fff;
    font-weight: 400;
}

.hero::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.94;
    z-index: -1;
    background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
}

.servicio {
    padding: 110px 0;
}

.servicio__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio__info, .servicio__img {
    width: 50%;
}

.servicio__info {
    padding: 0 39px;
}

.servicio__img {
    padding: 0 15px;
}

.servicio__titulo {
    font-size: 47px;
    margin-top: 0px;
    margin-bottom: 24px;
} 

.servicio__parrafo {
    margin-left: 16px;
    padding: 8px 0;
}

.servicio__items {
    padding: 0px;
    margin: 0;
}

.servicio__boton {
    color: #444;
    border: 2px solid #5136DE;
    border-radius: 30px;
    padding: 18px 30px;
    font-size: 16px;
    margin-top: 24px;
    letter-spacing: 1px;
    cursor: pointer;
    background: none;
    font-weight: 600;
}

.servicio__boton:hover {
    background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
    color: #fff;
}

.servicio__contenido {
    padding: 0;
}

.bg-gray {
    background-color: #F6F9FE;
}

.parrafo {
    color: #565656;
}

.features {
    padding: 100px 0;
}

.features__img {
    background: rgba(0, 0, 0, 0) url(./images/mobile-slider.png) no-repeat scroll top center/cover;
    padding: 67px 23px 90px 26px;
    margin: 0 auto;
}

.features__card {
    display: flex;
    align-items: center;
}

.features__content {
    width: 50%;
}

.features__content-texto {
    display: flex;
    padding: 24px 4px;
}

.features__content-img {
    width: 48px;
    height: 48px;
    margin-right: 15px;
}

/* .features__textos {
    margin: 0 0 80px;
} */

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-aling {
    width: 750px;
    text-align: center;
}

.features__titulo {
    /* font-size: 47px;
    margin: 0;
    font-weight: 600;
    line-height: 1.3; */
    color: #222;
}

.features__subtitulo {
    margin: 24px 0 0 0;
}

.features__content-subtitulo {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 8px;
}

.features__content-parrafo {
    margin: 0;
}

.mobile-img {
    width: 241px;
    height: auto;
}

.explicacion {
    background: linear-gradient(129deg, #4528DC, #8731E8);
    padding: 100px 0;
}

.explicacion__titulo {
    color: #fff;
    /* font-size: 47px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0; */
}

.explicacion__subtitulo {
    color: #fff;
    margin: 24px 0 48px;
}

.explicacion__card-contenedor {
    display: flex;
}

.explicacion__card {
    text-align: center;
    padding: 16px 31px;
}

.explicacion__card-img {
    width: 64px;
    height: auto;
}

.explicacion__card-titulo {
    margin: 0;
    padding: 16px 0;
    font-size: 24px;
}

.explicacion__card-parrafo {
    margin: 0;
}

.text-color {
    color: #222;
}

.explicacion__text-color {
    color: #fff;
}

.muestra {
    padding: 100px 0;
}

/* .muestra__card {
    margin: 0 0 80px;
} */

/* .muestra__titulo {
    font-size: 47px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
} */

.muestra__parrafo {
    margin: 24px 0 0;
}

.titulo-base {
    font-size: 47px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
}

.seccion-margin {
    margin: 0 0 80px;
}

.comment {
    text-align: center;
    padding: 100px 0;
}

.comment-img {
    height: 100px;
    width: auto;
    border-radius: 50%;
}

.comment__titulo {
    margin: 24px 0 8px;
    font-size: 22px;
    line-height: 1.3;
}

.comment__location {
    font-weight: 400;
    margin: 0;
}

.estrellas {
    display: flex;
    width: 120px;
    margin: 0 auto;
    padding: 8px 0 16px;
}

.estrella {
    margin: 0 auto;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background: #ffa200;
    color: #ffa200;
    height: 20px;
    width: 20px;
}

.comment__parrafo {
    width: 650px;
    margin: 0 auto;
}

.prices {
    padding: 100px 0;
    background-color: #f6f9fe;
}

.prices__parrafo {
    margin: 24px 0 0;
}

.prices__card-contenedor {
    display: flex;
    justify-content: center;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    margin: 0 auto;
}

.prices__full-card {
    padding: 0 15px;
    max-width: 50%;
    flex: 0 0 50%;
}

.prices__card {
    position: relative;
    padding: 48px;
    text-align: center;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0.313rem 0.875rem rgba(45, 49, 54, 0.09);
}

.prices-img {
    width: 80px;
    height: 80px;
}

.prices__card-version {
    margin: 16px 0;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 3px;
    opacity: 0.8;
    color: #222;
}

.prices__card-precio {
    font-size: 48px;
    background-image: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    padding: 0 0 16px;
}

.prices__card-parrafo {
    padding: 16px 0;
    border-bottom: 1px solid #dee2e6;
}
    
.prices__card-parrafo:first-child {
    border-top: 1px solid #dee2e6;
}

.seccion-footer a {
    text-decoration: underline;
    color: #212529;
    font-weight: 500;
}

.prices__card-items {
    margin: 0;
    padding: 0;
}

.prices-boton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 24px 0 0;
}

.prices__btn-design {
    padding: 18px 30px;
    border: 0 none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    background-image: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
    color: #fff;
}

.prices__footer {
    padding: 72px 0 0;
}

.seccion-footer {
    text-align: center;
}

.span {
    font-size: 60%;
    font-weight: 600;
}

ul li {
    list-style: none;
}

.questions {
    padding: 100px 0;
}

.questions__card {
    width: 540px;
}

.questions__parrafo {
    margin: 24px 0 0;
}

.questions__card-contenedor {
    display: flex;
    align-items: center;
}

.questions__full-card {
    padding: 0 15px;
}

.questions__card-titulo {
    margin: 0;
    padding: 16px 0;
    font-weight: 500;
}

.questions__card-parrafo {
    margin: 0;
    padding: 16px 0;
}

.questions__footer {
    padding: 24px 0 0;
}