body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.conteiner {
    width: 1112px;
    margin: 0 auto;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 15px 0;
}

.header__menu a {
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
}

.header__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    position: relative;
    background-image: url(./images/download-bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
    padding: 150px 0 65px;
}

.hero__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__info {
    padding: 0 39px;
    width: 50%;
}

.hero__mobile-icon {
    padding: 0 30px;
    width: 50%;
}

.hero-icon {
    width: 100%;
    height: 60px;
    padding: 0 11px;
}

.hero-icon:first-child {
    padding-left: 0;
}

.hero__info-titulo {
    color: #fff;
    font-style: italic;
    font-size: 64px;
    margin: 0 0 16px;
    font-weight: 600;
    line-height: 1.2;
}

.hero__info-subtitulo {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
}

.hero__info-img {
    display: flex;
    margin-top: 32px;
}

.hero__info-footer {
    margin: 12px 0 0 0;
    color: #fff;
    font-style: italic;
    font-weight: 300;
}

.hero__parrafo {
    color: #fff;
    font-weight: 400;
}

.hero::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.94;
    z-index: -1;
    background: linear-gradient(133deg, #5136DE, #8E3EE9);
}

.servicio {
    padding: 110px 0;
}

.servicio__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio__info, .servicio__img {
    width: 50%;
}

.servicio__info {
    padding: 0 39px;
}

.servicio__img {
    padding: 0 15px;
}

.servicio__titulo {
    font-size: 47px;
    margin-top: 0px;
    margin-bottom: 24px;
} 

.servicio__parrafo {
    margin-left: 16px;
    padding: 8px 0;
}

.servicio__items {
    padding: 0px;
    margin: 0;
}

.servicio__boton {
    color: #444;
    border: 2px solid #5136DE;
    border-radius: 30px;
    padding: 20px 32px;
    font-size: 17px;
    margin-top: 24px;
    letter-spacing: 1px;
    cursor: pointer;
    background: none;
}

.servicio__boton:hover {
    background: linear-gradient(133deg, #5136DE, #8E3EE9);
    color: #fff;
}

.servicio__contenido {
    padding: 0;
}

.bg-gray {
    background-color: #F6F9FE;
}

.parrafo {
    color: #565656;
}